@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease;
}

/* Light mode */
.Mui-light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode */
.Mui-dark {
  background-color: #121212;
  color: #ffffff;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
